:root {
    --primary-color: rgb(82, 109, 88);
    --highlight: rgb(108, 136, 114);
    --text-color: rgb(0, 0, 0);
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.container {
    text-align: center;
    font-family: cursive;
    margin-top: 50px;
}

button {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--highlight);
    border: none;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

button:active {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
    min-height: 2em; /* Prevent layout shift during spin */
    margin: 50px auto;
    padding: 50px;
  }

  .hidden {
    display: none;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  #puzzleSection {
    margin-top: 30px;
}

#puzzleInput {
    width: 100px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--highlight);
}